<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e3d912e-8628-4f67-abc2-293ee1336a66/resourceGroups/ParkingManager-gr/providers/Microsoft.Web/sites/ParkingManager-api</ResourceId>
    <ResourceGroup>ParkingManager-gr</ResourceGroup>
    <ApiResourceId>/subscriptions/9e3d912e-8628-4f67-abc2-293ee1336a66/resourceGroups/ParkingManager-gr/providers/Microsoft.ApiManagement/service/ParkingManagerApi-api/apis/ParkingManagerApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://parkingmanager-api-apf8eycwgwg8aadf.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>959fd874-7fd5-4cfc-b872-60324f836c59</ProjectGuid>
    <MSDeployServiceURL>parkingmanager-api-apf8eycwgwg8aadf.scm.eastus2-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ParkingManager-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>